<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="assets/styles/app.css" rel="stylesheet">
    <script src="http://localhost:35729/livereload.js"></script>
    <title>Starter Template - Materialize</title>
</head>

<body>
<nav class="indigo darken-4" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">
            <img class="logo-img" src="assets/images/logow.png" />
            Logo
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Navbar Link</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="row s12">
        <div class="input-field col s4">
            <select>
                <option value="" disabled selected>No Sorting</option>
                <option value="1">Best Match</option>
                <option value="2">Price: Low to High</option>
                <option value="3">Price: High to Low</option>
            </select>
        </div>
        <div class="input-field col s4">
            <p class="range-field">
                <input type="range" id="test5" min="0" max="2000" />
            </p>
        </div>
        <div class="input-field col s4">
            <input class="with-gap" name="group1" type="radio" id="test1" checked />
            <label for="test1">Any</label>
            <input class="with-gap" name="group1" type="radio" id="test2"  />
            <label for="test2">Furnished</label>
            <input class="with-gap" name="group1" type="radio" id="test3"  />
            <label for="test3">Unfurnished</label>
        </div>
    </div>
    <ul class="pagination">
        <li class="disabled previous-page"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active" data-page="1"><a href="#!">1</a></li>
        <li class="waves-effect page" data-page="2"><a href="#!">2</a></li>
        <li class="waves-effect page" data-page="3"><a href="#!">3</a></li>
        <li class="waves-effect page" data-page="4"><a href="#!">4</a></li>
        <li class="waves-effect page" data-page="5"><a href="#!">5</a></li>
        <li class="waves-effect next-page"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>

<div id="apartments-list">
<?php foreach($data['apartments'] as $apt): ?>
    <li class="apartment-entry">
        <div class="photo">
        </div>
        <div class="details">
            <h2 class="title"><a href="<?= $apt->url ?>"><span class="type"><?= $apt->type ?> </span>
                    <?= $apt->title ?></a></h2>
            <div class="district"><?= $apt->district ?></div>
            <p class="description"><?= $apt->description ?></p>
            <p class="agency"><?= $apt->agency ?></p>
        </div>
        <ul class="features">
            <li class="price"><?= $apt->price ?>
                <span class="type">/month</span>
                <span class="inclusive"><?= $apt->priceInclusive ?></span>
            </li>
            <li class="space"><?= $apt->space ?> m²
            </li>
            <li class="bedrooms"><?= $apt->bedrooms ?> bedroom(s)
            </li>
            <li class="interior"><?= $apt->interior ?>
            </li>
            <li class="available-from"><?= $apt->availableFrom ?></li>
        </ul>
    </li>
<?php endforeach; ?>
</div>

<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Speeds up development</h5>

                    <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">User Experience Focused</h5>

                    <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms
                        allow for a more unified user experience.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Easy to work with</h5>

                    <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                </div>
            </div>
        </div>

    </div>
    <br>
    <br>

    <div class="section">

    </div>
</div>

<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>
<script type="text/javascript" src="scripts/vendor.bundle.js"></script>
<!--<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>-->
<!--<script src="/assets/js/materialize.min.js"></script>-->
<script type="text/javascript" src="scripts/app.bundle.js"></script>

</body>

</html>
