$roboto-font-path: "~materialize-sass-origin/font/roboto/";
$icons-font-path: "~materialize-sass-origin/font/material-design-icons/";
@import "~materialize-sass-origin/sass/materialize.scss";

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.logo-img {
  height: 65px;
}

/* ---------------------- APARTMENT ------------------- */
.apartment-entry {
  border: 1px solid #dfdfdf;
  list-style: none;
  padding: 0 10px;
  display: flex;
  flex-basis: 8.333333333333333%;
  font-size: 13px;
}
.apartment-entry a {
  text-decoration: none;
  color: #0b97c4;
}
.photo {
  flex: 3;
}
.details {
  flex: 8;
}

.details .title {
  margin: 0 0 5px;
}
.details .district {
  color: #7f7f7f;
}
.features {
  list-style-type: none;
  flex: 2;
}

.price {
  font-weight: bold;
  font-size: 16px;
}